.titulo{
    color:aqua;
    text-align:center;
}

.texto{
    color:rgb(219, 15, 15);
    text-align: center;
    font-size: 20px;
}

.os_jogos{
    color:lightgreen;
    text-align: center;
    font-size: 40px;
}

body{
    background-color:black;
}

.filmes{
    color:blueviolet;
    text-align: center;
}

.os_filmes{
    color:green;
    text-align: center;
    font-size: 40px;
}

.series{
    color: darkred;
    text-align: center;
}

.as_series{
    color:cyan;
    text-align: center;
    font-size: 40px;
}

.animes{
    color:purple;
    text-align: center;
}

.os_animes{
    color:darkorange;
    text-align: center;
    font-size: 40px;
}

.culinária{
    color:greenyellow;
    text-align: center;
    font-size: 40px;
}

.final{
    color:hotpink;
    text-align: center;
    font-size:30px;
}

#nome-id {
    color:blue;
    text-align: center;
}